<header role="banner" class="mb-6">
  <h1 class="h-card text-3xl md:text-4xl">
    <a href="/" class="stroke-cerulean-500 u-url no-underline hover:underline flex flex-row md:flex-col items-center md:items-start gap-3 md:gap-4" style="align-items: center">
      <img
        src="/profile.jpg"
        alt="Author photo"
        class="w-16 md:w-30 rounded-full u-photo"
        loading="eager"
        decoding="sync"
        eleventy:ignore
      >
      <span class="text-gray-300 p-name p-org text-center">{{ metadata.title }}</span>
    </a>
  </h1>
</header>
