---
eleventyExcludeFromCollections: true
layout: false
permalink: feed.json
---
{
  "version": "https://jsonfeed.org/version/1.1",
  "title": "{{ metadata.title }}",
  "language": "{{ metadata.language or page.lang }}",
  "home_page_url": "{{ metadata.url | addPathPrefixToFullUrl }}",
  "feed_url": "{{ permalink | htmlBaseUrl(metadata.url) }}",
  "description": "{{ metadata.description }}",
  "icon": "{{ metadata.url | addPathPrefixToFullUrl }}profile.jpg",
  "authors": [
    {
      "name": "{{ metadata.author.name }}",
      "url": "{{ metadata.author.url }}",
      "avatar": "{{ metadata.url | addPathPrefixToFullUrl }}favicon.svg"
    }
  ],
  "items": [
    {%- for post in collections.posts | reverse %}
    {%- set absolutePostUrl %}{{ post.url | htmlBaseUrl(metadata.url) }}{% endset %}
    {
      "id": "{{ absolutePostUrl }}",
      "url": "{{ absolutePostUrl }}",
      "title": "{{ post.data.title | trim | safe }}",
      "content_html": {% if post.content %}{{ post.content | prependAttachments(post.data.attachments) | renderTransforms(post.data.page, metadata.url) | dump | safe }}{% else %}""{% endif %},
      {%- if post.data.tags %}
      "tags": {{ post.data.tags | cleanTags | dump | safe }},
      {%- endif %}
      {%- if post.data.author %}
      "authors": [{
        "name": "{{ post.data.author | safe }}"
        {%- if post.data.author %},
        "url": "{{ post.data.source | safe }}"
        {%- endif %}
      }],
      {%- endif %}
      {%- if post.data.source %}
      "external_url": "{{ post.data.source | safe }}",
      {%- endif %}
      {%- set firstImage = post.data.attachments | getFirstImage %}
      {%- if firstImage %}
      "image": "{% optimizeImage firstImage %}",
      {%- endif %}
      "date_published": "{{ post.date | dateToRfc3339 }}"
    }
    {%- if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}
