---
---
<!doctype html>
<html lang="{{ metadata.language }}">
  {%- set absolutePageUrl = page.url | htmlBaseUrl(metadata.url) %}
	<head>
		<title>{% if title %}{{ title | trim }} • {% endif %}{{ metadata.title }}</title>
		<meta charset="utf-8">
		<meta name="description" content="{{ description or metadata.description }}">
    <meta name="fediverse:creator" content="{{ metadata.author.fediverse }}">
    <meta name="viewport" content="initial-scale=1.0, width=device-width">
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta name="keywords" content="{%- if tags %}{%- for tag in tags | cleanTags -%}, {{ tag }}{%- endfor %}{%- endif %}">
    <meta property="og:description" content="{{ description or metadata.description }}">
    <meta property="og:title" content="{{ title or metadata.title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ absolutePageUrl }}">
    <meta property="robots" content="noindex">
    {%- if attachments %}
    {%- ogImage attachments %}
    {%- else %}
    {%- ogImage "./public/cover.png" %}
    {%- endif %}
    <link rel="canonical" href="{{ absolutePageUrl }}" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Atom Feed"
      href="/atom.xml"
    />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="RSS Feed"
      href="/rss.xml"
    />
    <link
      rel="alternate"
      type="application/feed+json"
      title="JSON Feed"
      href="/feed.json"
    />
    <link rel="preload" href="/global.css" as="style">
    <link rel="stylesheet" href="/global.css">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" href="/favicon.svg" />
    <link rel="mask-icon" sizes="any" href="/favicon.svg" color="#0caceb" />
    <link rel="preload" href="/bundle.js" as="script">
    <script src="/bundle.js" defer></script>
  </head>
  <body class="flex flex-col md:flex-row lg:flex-row">
    <section class="relative w-full md:max-w-96">
      <div class="md:sticky top-0 md:min-h-svh">
        <div class="md:min-h-svh">
          <div class="absolute inset-0"></div>
            <div class="p-4">
              <div class="backdrop-blur-xl rounded-2xl overflow-hidden shadow-xl md:gap-4 p-4 md:p-6 lg:p-8 bg-gradient-to-br from-white/15 to-white/5">
              {% include 'header.njk' %}
              {% include 'footer.njk' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <main class="w-full md:w-1/2 lg:w-3/5">
      {{ content | safe }}
    </main>
  </body>
</html>
